.btn {
  border: 0;
  background: transparent;
  text-align: center;
  cursor: pointer;
  line-height: 1;
  display: inline-block;
  transition: all .3s ease;
  &-blue {
    padding: 20px 34px;
    background-color: #4f8ad9;
    color: #fff;
    font-size: 15px;
    border-radius: 30px;
    text-transform: uppercase;
    @include RobotoBold;
    .arrow-right {
      width: 20px;
      height: 12px;
      margin-left: 8px;
      fill: #fff;
      display: inline-block;
      vertical-align: top;
      margin-top: 1px;
    }
    &:hover {
      color: #fff;
      background-color: #a7c343;
    }
  }
  &-transparent {
    padding: 18px 29px;
    background-color: #ffffff;
    color: #4f8ad9;
    font-size: 15px;
    border-radius: 30px;
    text-transform: uppercase;
    border: 2px solid #4f8ad9;
    box-shadow: 0 8px 12px 0 rgba(79, 138, 217, 0.25);
    @include RobotoBold;
    &:hover, &:active {
      background-color: #4f8ad9;
      color: #ffffff;
      box-shadow: 0 8px 12px 0 rgba(#505b6a, 0.25);
    }
    &:active, &:disabled {
      box-shadow: none;
    }
  }
  &-green {
    padding: 20px 29px;
    background-color: #a7c343;
    color: #fff;
    font-size: 16px;
    border-radius: 30px;
    text-transform: uppercase;
    @include RobotoBold;
    &:hover {
      background-color: #4f8ad9;
      color: #fff;
    }
  }
}
