html,
body {
  background: #ffffff;
  color: #505b6a;
  font-size: 17px;
  line-height: 1;
  @include RobotoLight;
}

a, .as-link {
  color: #4f8ad9;
  text-decoration: none;
  transition: all 0.3s ease;
  &:hover {
    color: #4f8ad9;
  }
  &:focus {
    outline: none;
  }
}

.as-link {
  cursor: pointer;
}

b, strong {
  font-weight: 700;
  @include RobotoBold;
}

h2, h3, h4 {
  margin-top: 0;
  margin-bottom: 20px;
  padding: 0;
  font-weight: normal;
  line-height: 1.2;
}

h1 {
  margin-top: 0;
  padding-top: 0;
  font-weight: normal;
  font-size: 33px;
  @include RobotoBold;
}

h2 {
  font-size: 28px;
  @include RobotoMedium;
}

h3 {
  font-size: 24px;
  @include RobotoMedium;
}

h4 {
  font-size: 20px;
  @include RobotoRegular;
}

.text {
  &-center {
    text-align: center
  }
  &-left {
    text-align: left
  }
  &-right {
    text-align: right
  }
  &-justify {
    text-align: justify
  }
  &-bold {
    font-weight: 700;
    @include RobotoBold;
  }
  &-nowrap {
    white-space: nowrap;
  }
  &-lowercase {
    text-transform: lowercase;
  }
  &-uppercase {
    text-transform: uppercase;
  }
  &-capitalize {
    text-transform: capitalize;
  }
}

.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

.list {
  &-unstyled {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }
}

.clearfix {
  @include clearfix;
}

.title {
  font-size: 28px;
  font-weight: normal;
  text-transform: uppercase;
  @include RobotoBold;
}

button, input, select, textarea {
  &:focus,
  &:active {
    outline: none;
    box-shadow: none;
  }
}

.text-selection {
  color: #6ba0b2;
}
