.header-blog {
  background: url(../img/bg-blog.jpg) no-repeat 0 0;
  background-size: cover;
  &::before {
    opacity: .8;
    background-position: 0 0;
  }
}

.blog {
  padding-top: 40px;
  padding-bottom: 100px;
  line-height: 1.2;
}

.post {
  margin-bottom: 60px;
}

.post-media {
  transition: all 0.3s ease;
  @include to('s') {
    margin-bottom: 25px;
  }
  &:hover {
    opacity: .8;
  }
}

.post-title {
  margin: -3px 0 17px;
  font-size: 28px;
  a:not(:hover) {
    color: #505b6a;
  }
  @include to('m') {
    font-size: 24px;
    max-height: 57px;
    overflow: hidden;
  }
}

.post-text {
  margin-bottom: 30px;
  letter-spacing: -0.2px;
  @include at('l') {
    font-size: 16px;
  }
  @include to('m') {
    margin-bottom: 25px;
    letter-spacing: -0.2px;
    height: 80px;
    overflow: hidden;
  }
}

.post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-data {
  color: #b0aaaa;
  font-size: 16px;
  @include RubikLight;
  .data {
    width: 23px;
    height: 19px;
    fill: #b0aaaa;
    margin-right: 4px;
    vertical-align: top;
  }
}

.pagination {
  padding-top: 45px;
  display: flex;
  justify-content: center;
  @include to('s') {
    align-items: center;
  }
  li {
    font-size: 19px;
    @include RobotoMedium;
    &:not(:first-child):not(:last-child) {
      padding: 0 9px;
      @include to('s') {
        padding: 0 5px;
      }
    }
  }

  a {
    color: #6ba0b2;
    &:hover {
      color: #b0aaaa;
    }
  }
  .current a {
    color: #4f8ad9;
  }
  svg {
    transition: all 0.3s ease;
  }
  .pagination-prev, .pagination-next {
    flex-grow: 1;
    a {
      @include from('m') {
        border-bottom: 1px solid;
      }
    }
  }
}

.pagination-prev, .pagination-next {
  font-size: 16px;
  text-transform: uppercase;
  @include RobotoBold;
  a {
    @include to('s') {
      display: inline-block;
      border: 1px solid #e3e3e3;
      border-radius: 32px;
      padding: 13px 22px 11px 22px;
      &:hover svg {
        fill: #b5afaf;
      }
    }
  }

  .arrow-right {
    fill: #6ba0b2;
    width: 20px;
    height: 12px;
  }
}

.pagination-next {
  text-align: right;
}

.pagination-prev {
  svg {
    transform: rotate(180deg);
  }
}
