.header-blog {
  background: url(../img/bg-blog.jpg) no-repeat 0 0;
  background-size: cover;
}

.blog {
  padding-top: 40px;
  padding-bottom: 100px;
  line-height: 1.2;
}

.post {
  margin-bottom: 60px;
}

.post-media {
  transition: all 0.3s ease;
  img {
    box-shadow: 0 0 20px rgba(0, 0, 0, .15);
  }
  &:hover {
    opacity: .8;
  }
}

.post-title {
  margin: -3px 0 17px;
  font-size: 28px;
  a:not(:hover) {
    color: #505b6a;
  }
}

.post-text {
  margin-bottom: 30px;
  letter-spacing: -0.2px;
}

.post-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post-data {
  color: #b0aaaa;
  font-size: 16px;
  @include RobotoLight;
  .data {
    width: 23px;
    height: 19px;
    fill: #b0aaaa;
    margin-right: 4px;
    vertical-align: top;
  }
}

.pagination {
  padding-top: 45px;
  display: flex;
  justify-content: center;
  li:not(:first-child):not(:last-child) {
      padding: 0 9px;
      font-size: 19px;
      @include RobotoMedium;
  }
  a {
    color: #6ba0b2;
    &:hover {
      color: #b0aaaa;
    }
  }
  .current a {
    color: #4f8ad9;
  }
  svg {
    transition: all 0.3s ease;
  }
  .pagination-prev, .pagination-next {
    flex-grow: 1;
  }
}

.pagination-prev, .pagination-next {
  text-transform: uppercase;
  font-size: 16px;
  @include RobotoBold;
  .arrow-right {
    fill: #6ba0b2;
    width: 20px;
    height: 12px;
    transition: all 0.3s ease;
  }
}

.pagination-next {
  text-align: right;
}

.pagination-prev svg {
    transform: rotate(180deg);
}
