.header-form-insurance {
  height: 365px;
  .container {
    position: relative;
  }
  .header-title {
    margin: 56px 0 0;
  }
}

.clock-info {
  position: absolute;
  right: 55px;
  top: 5px;
  font-size: 17px;
  text-align: center;
  @include RobotoRegular;
}

.clock-info-text {
  margin-top: 10px;
}

.form-insurance {
  padding-bottom: 100px;
  .insurance-type {
    margin-bottom: 41px;
    padding-left: 0;
  }
  .insurance-type-label {
    margin-right: 29px;
    font-size: 17px;
  }
  .insurance-type .current {
    border-bottom-color: #4f8ad9;
    color: #4f8ad9;
  }
  .insurance-type-point {
    font-size: 20px;
  }
  .insurance-type-point:not(:last-of-type) {
    margin-right: 42px;
  }
  .insurance-type-point:not(.current) {
    color: #6ba0b2;
    cursor: pointer;
  }
  .insurance-type-point:not(.current):hover {
    color: #4f8ad9;
  }
}

.form-insurance-field {
  h4 {
    margin-bottom: 25px;
    padding-top: 16px;
  }
  fieldset {
    margin-bottom: 15px;
  }
  .radio-custom-label:first-of-type {
    margin-right: 25px;
  }

  .hint-box {
    margin-left: 10px;
  }
  .form-group {
    position: relative;
    .hint-box {
      margin-left: 0;
      position: absolute;
      top: 19px;
      right: 27px;
    }
  }
  .form-control {
    height: 65px;
  }
  .required-field:before {
    top: 22px;
  }
  .field-filled .selected {
    top: 28px;
  }
}

.form-insurance-bottom {
  padding-top: 28px;
  display: flex;
  align-items: center;
  .btn-blue {
    margin-left: 80px;
    padding-left: 42px;
    padding-right: 42px;
  }
}

.add-form {
  margin-bottom: 20px;
  position: relative;
}

.add-form-link {
  text-transform: uppercase;
  font-size: 15px;
  color: #6ba0b2;
  cursor: pointer;
  text-decoration: underline;
  @include RobotoBold;
}

.add-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .form-control {
    height: 50px;
    padding-left: 23px;
    padding-right: 15px;
  }
  &:last-of-type .add-info-label-delete {
      display: block;
  }
}

.add-info-label {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.add-info-label-delete {
  display: none;
  padding-right: 27px;
  color: #e94848;
  font-size: 15px;
  position: relative;
  cursor: pointer;
  &::before, &::after {
    height: 16px;
    width: 2px;
    content: '';
    background: #e94848;
    position: absolute;
    right: 7px;
    top: 0;
    border-radius: 2px;
  }
  &::before {
    transform: rotateZ(-45deg);
  }
  &::after {
    transform: rotateZ(45deg);
  }
}

.box-data {
  width: 31%;
}

.box-experience {
  width: 13%;
}

.contacts-form-info {
  padding-top: 20px;
  fieldset {
    margin-bottom: 30px;
  }
}

.contacts-form-info-title {
  margin-bottom: 35px;
}
