.insurance-steps {
  counter-reset: item;
  list-style: none;
  position: relative;
  li {
    color: #a7c343;
    text-transform: uppercase;
    position: relative;
    z-index: 12;
    @include RobotoBold;
  }
  .current {
    color: #4f8ad9;
    ~ li {
      color: #c0b7b7;
      .selected {
        display: none;
      }
      svg:not(.selected):not(.arrow-right) {
        display: block;
      }
    }
    .selected {
      display: none;
    }
    svg:not(.selected) {
      display: block;
    }
  }

  svg {
    fill: #f2f9fb;
    width: 24px;
    height: 26px;
    position: absolute;
    z-index: 5;
    &:not(.selected) {
      display: none;
    }
  }

  .driver, .list {
    width: 23px;
    height: 23px;
  }
  .arrow-right {
    margin-left: 20px;
    svg {
      width: 20px;
      height: 15px;
      fill: #c0b7b7;
    }
  }
  .selected {
    fill: #ffffff;
    z-index: 20;
    position: absolute;
  }
}

.insurance-steps-text {
}

.insurance-steps-number {
  @include from('l') {
    display: none;
  }
}

@include from('l') {
  .insurance-steps-wrap {
    float: right;
    position: relative;
  }
  .insurance-steps {
    margin-top: 64px;
    margin-bottom: 0;
    padding-left: 97px;

    &::before {
      content: '';
      width: 1px;
      height: calc(100% - 9px);
      position: absolute;
      top: 9px;
      left: 76px;
      border-left: 1px dashed #c0b7b7;
      z-index: 10;
    }
    li {
      font-size: 18px;
      &:not(:last-of-type) {
        margin-bottom: 35px;
      }
      &::after {
        width: 30px;
        height: 30px;
        content: counters(item, "") "";
        counter-increment: item;
        color: #a7c343;
        border-radius: 50%;
        border: 1px solid #f9f9f9;
        background-color: #ffffff;
        position: absolute;
        left: -32px;
        top: 9px;
        display: flex;
        justify-content: center;
        align-items: center;
      }

      &::before {
        width: 46px;
        height: 46px;
        margin: 0 auto 13px;
        border-radius: 50%;
        display: block;
        content: '';
        background-color: #a7c343;
        box-shadow: -77px 51px 0 -20px #c0b7b7;
      }
    }
    .current {
      &::before {
        background-color: #4f8ad9;
      }
      &::after {
        color: #4f8ad9;
      }
      svg {
        fill: #ffffff;
      }
      ~ li {
        &::before {
          background-color: #c0b7b7;
        }
        &::after {
          color: #505b6a;
        }
      }

    }
    svg {
      top: 11px;
      left: 50%;
      margin-left: -12px;
    }
    .selected {
      width: 22px;
      height: 22px;
      top: 14px;
      margin-left: -11px;
      left: 50%;
    }
    .arrow-right {
      display: none !important;
    }
  }
}

@include from('xl') {
  .insurance-steps {
    &::before {
      left: 80px;
    }
    li {
      &:before {
        box-shadow: -99px 51px 0 -20px #c0b7b7;
      }
    }
  }
}

@include from('m') {
  .insurance-steps {
    li {
      text-align: center;
    }
  }
}

@include to('m') {
  .insurance-steps-wrap {
    float: none;
  }

  .insurance-steps {
    height: 65px;
    margin-bottom: 60px;
    padding: 13px 30px;
    background-color: #f2f9fb;
    border-radius: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    li {
      padding-left: 55px;
      font-size: 16px;
      &::before {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        display: block;
        content: '';
        background-color: #a7c343;
        position: absolute;
        left: 0;
        top: -12px;
      }
    }
    .current {
      ~ li {
        .insurance-steps-number {
          color: #c0b7b7;
        }
        &::before {
          background-color: #c0b7b7;
        }
      }
      &::before {
        background-color: #4f8ad9;
      }
      .insurance-steps-number {
        color: #4f8ad9;
      }
    }
    svg {
      top: -5px;
      left: 8px;
    }
    .selected {
      width: 18px;
      height: 18px;
      top: 0;
      left: 11px;
    }
  }
  .insurance-steps-number {
    color: #a7c343;
  }
}

@include at('m') {
  .insurance-steps {
    li {
      display: flex;
    }
    .arrow-right {
      order: 5;
      position: static;
      display: inline !important;
      &::before {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #c0b7b7;
        margin-right: 6px;
        display: inline-block;
        vertical-align: middle;
        content: '';
      }
      svg {
        position: static;
        display: inline-block !important;
        vertical-align: middle;
      }
    }
  }
}

@include to('s') {
  .insurance-steps {
    height: 60px;
    padding: 13px 15px;
    text-align: center;
    li {
      padding-left: 0;
      display: flex;
      flex-wrap: wrap;
      &:not(:last-child) {
        flex: 1 1 auto;
      }
      &:first-child {
        &::before {
          margin: 0 25px 0 30px;
        }
        svg {
          left: 37px;
        }
      }
      &:last-child {
        justify-content: flex-end;
        &::before {
          margin-left: 0;
        }
        .insurance-steps-text {
          text-align: right;
        }
        .list {
          right: 29px;
          left: auto;
        }
      }
      &::before {
        margin: 0 20px 0 20px;
        position: static;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
      }
      &:not(:first-child)::after {
        box-shadow: -75px 0px 0 -16px #c0b7b7;
      }
    }
    svg {
      top: 8px;
      left: 28px;
    }
    .arrow-right {
      margin-left: 0;
      flex: 1 0 auto;
      display: inline-flex;
      vertical-align: middle;
      position: relative;
      align-items: center;
      justify-content: center;
      svg {
        position: static;
        display: inline-block !important;
        vertical-align: middle;
      }
      &::before {
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: #c0b7b7;
        margin-right: 6px;
        display: inline-block;
        vertical-align: middle;
        content: '';
      }
    }
  }
  .insurance-steps-text {
    bottom: -20px;
    position: relative;
    margin-bottom: -10px;
    font-size: 12px;
    text-align: left;
    display: block;
    width: 100%;
  }
}

@include to('xs') {
  .insurance-steps-text {
    white-space: nowrap;
  }
  .insurance-steps {
    padding: 13px 10px 11px;
    .arrow-right {
      margin-left: -34px;
      left: 16px;
    }
  }
  .form-insurance .insurance-type-label {
    margin-right: 20px;
    font-size: 4vw;
    white-space: nowrap;
  }
  .insurance-type-point {
    font-size: 4.7vw;
    margin-right: 30px;
  }
}
