.insurance-steps {
  counter-reset: item;
  list-style: none;
  position: relative;
  li {
    color: #a7c343;
    text-transform: uppercase;
    position: relative;
    z-index: 12;
    @include RobotoBold;
  }
  .current {
    color: #4f8ad9;
    ~ li {
      color: #c0b7b7;
      .selected {
        display: none;
      }
      svg:not(.selected):not(.arrow-right) {
        display: block;
      }
    }
    .selected {
      display: none;
    }
    svg:not(.selected) {
      display: block;
    }
  }

  svg {
    fill: #f2f9fb;
    width: 24px;
    height: 26px;
    position: absolute;
    z-index: 5;
    &:not(.selected) {
      display: none;
    }
  }

  .driver, .list {
    width: 23px;
    height: 23px;
  }
  .arrow-right {
    margin-left: 20px;
    svg {
      width: 20px;
      height: 15px;
      fill: #c0b7b7;
    }
  }
  .selected {
    fill: #ffffff;
    z-index: 20;
    position: absolute;
  }
}
