.latest-articles {
  padding: 103px 0 75px;
  background-color: #f9fbff;
  @include to('l') {
    padding: 97px 0 75px;
  }
  @include to('m') {
    padding: 70px 0 75px;
  }
  .title {
    text-align: center;
    margin-bottom: 95px;
    @include to('m') {
      margin-bottom: 65px;
    }
  }
  img {
    max-height: 222px;
    @include to('xs') {
      display: none;
    }
  }
}

.latest-articles-list {
  display: flex;
  flex-wrap: wrap;
  @include from('s') {
    justify-content: space-between;
  }
  li {
    @include from('l') {
      flex-basis: 33%;
      max-width: 33%;
      padding: 0 15px;
    }
    @include between('s', 'm') {
      flex-basis: 48%;
    }
    @media (max-width: 500px) {
      flex-basis: 100%;
      margin-bottom: 35px;
      img {
        max-height: none;
      }
    }
  }
}

.latest-articles-media {
  position: relative;
  overflow: hidden;
  display: block;
  transition: all 0.3s ease;
}

.latest-articles-link {
  &:not(:hover) {
    color: #505b6a;
  }
  &:hover .latest-articles-media {
    opacity: .8;
  }
}

.latest-articles-title {
  padding: 25px 0 10px;
  margin: 0;
  text-transform: uppercase;
  display: inline-block;
  font-size: 16px;
  @include RobotoMedium;
  @include to('l') {
    padding: 20px 0 13px;
    line-height: 1.2;
  }
  @include at('l') {
    min-height: 71px;
  }
}

.latest-articles-text {
  margin-bottom: 10px;
  line-height: 1.2;
}

.latest-articles-date {
  color: #b0aaaa;
  font-size: 15px;
  @include Rubik;
  @include to('l') {
    font-size: 14px;
  }
}

.latest-articles-all {
  padding: 40px 15px 0;
  text-align: right;
  clear: both;
  font-size: 16px;
  text-transform: uppercase;
  a {
    &:not(:hover) {
      color: #6ba0b2;
    }
    .latest-articles-all_text {
      padding-bottom: 2px;
      border-bottom: 1px solid;
      display: inline-block;
    }
    &:hover .arrow-right {
      fill: #4f8ad9;
    }
  }
  .arrow-right {
    width: 20px;
    height: 12px;
    fill: #6ba0b2;
    vertical-align: middle;
    margin: -3px 0 0 5px;
    transition: all 0.3s ease;
  }
  @include RobotoBold;
}
