.manual {
  padding-top: 15px;
  padding-bottom: 152px;
  .title {
    margin-bottom: 17px;
    text-align: center;
  }
  .btn-blue {
    margin-top: 22px;
  }
}

.manual-pre-title {
  margin-bottom: 103px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.manual-step-one {
  padding-bottom: 67px;
  .manual-media::before {
    right: 150px;
    content: '1';
  }
  .manual-media-img {
    max-width: 364px;
  }
}

.manual-step-two {
  padding: 122px 0 152px;
  background: url(../img/top-decor-line.png) no-repeat top center, url(../img/bottom-decor-line.png) no-repeat bottom center;
  .manual-text {
    padding-left: 47px;
    padding-right: 60px;
  }
  .manual-media {
    text-align: center;
    &::before {
      left: 21px;
      content: '2';
    }
  }
  .manual-media-map {
    max-width: 487px;
    box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.2);
  }
}

.manual-step-three {
  padding-top: 60px;
  .manual-media {
    &::before {
      right: 68px;
      content: '3';
    }
  }
  .manual-media-img {
    max-width: 442px;
  }
}

.manual-media {
  position: relative;
  @include clearfix;
  &::before {
    width: 55px;
    height: 55px;
    position: absolute;
    top: -19px;
    border-radius: 50%;
    font-size: 19px;
    color: #ffffff;
    background-color: #a7c343;
    box-shadow: 0 0 0 8px rgba(79, 138, 217, 0.06);
    display: flex;
    align-items: center;
    justify-content: center;
    @include RobotoBold;
  }
}

.manual-media-img {
  float: left;
  margin-left: 32px;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.2);
}

.manual-media-phone {
  width: 167px;
  margin: 114px 0 0 -79px;
}

.manual-media-map {
  max-width: 364px;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.2);
}

.manual-text {
  padding-right: 0;
  h2 {
    margin-bottom: 29px;
    padding-top: 28px;
  }
  p {
    line-height: 1.3;
    font-size: 18px;
  }
  .arrow-right {
    width: 20px;
    height: 12px;
    margin-left: 8px;
    fill: #fff;
    display: inline-block;
    vertical-align: top;
    margin-top: 1px;
  }
}
























