.manual {
  padding-top: 23px;
  padding-bottom: 150px;
  .container {
    @include clearfix;
  }
  .title {
    margin-bottom: 17px;
    text-align: center;
  }
  .btn-blue {
    margin-top: 22px;
  }
}

.manual-pre-title {
  margin-bottom: 103px;
  text-align: center;
  text-transform: uppercase;
  font-size: 16px;
}

.manual-one {
  padding-bottom: 85px;
  .manual-media {
    img {
      margin-left: -30px;
      box-shadow: none;
    }
    &::before {
      right: 16%;
      content: '1';
      top: 10px;
    }
  }
  .manual-text h2 {
    padding-top: 52px;
  }
}

.manual-two {
  padding: 122px 0 152px;
  position: relative;
  &::before, &::after {
    width: 100%;
    content: '';
    position: absolute;
    left: 0;
    background-repeat: no-repeat;
  }
  &::before {
    height: 114px;
    top: 0;
    background-image: url(../img/top-decor-line.png);
  }
  &::after {
    height: 86px;
    bottom: 0;
    background-image: url(../img/bottom-decor-line.png);
  }
  .manual-text {
    margin: 0 125px 0 32px;
  }
  .manual-media {
    text-align: center;
    &::before {
      left: -27px;
      content: '2';
    }
  }
}

.manual-three {
  padding-top: 60px;
  .manual-media {
    margin: 0 110px 0 32px;
    &::before {
      right: -29px;
      content: '3';
    }
  }
}

.manual-media {
  position: relative;
  @include clearfix;
  img {
    box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.18);
  }
  &::before {
    width: 47px;
    height: 47px;
    position: absolute;
    top: -19px;
    border-radius: 50%;
    font-size: 19px;
    color: #ffffff;
    background-color: #a7c343;
    display: flex;
    align-items: center;
    justify-content: center;
    @include RobotoBold;
  }
}

.manual-media-map {
  max-width: 364px;
  box-shadow: 0 0 35px 0 rgba(0, 0, 0, 0.2);
}

.manual-text {
  line-height: 1.2;
  h2 {
    margin-bottom: 29px;
    padding-top: 28px;
  }
}
