.page {
  header {
    padding-bottom: 55px;
    &:after {
      height: 127px;
    }
  }
  .header-center {
    padding-top: 93px;
  }

  .faq {
    padding-top: 5px;
    padding-bottom: 70px;
  }

  .latest-articles {
    position: relative;
    z-index: 10;
    &:after {
      background: url(../img/bg-footer-decor.png) no-repeat top center;
      width: 100%;
      height: 99px;
      background-size: cover;
      content: '';
      position: absolute;
      bottom: -99px;
      left: 0;
      z-index: 6;
    }
  }

  footer::after {
    background: url(../img/bg-footer-decor-pages.png) no-repeat top center;
  }

  .footer-find-agent {
    display: none;
  }
}
