.partners {
  padding-top: 90px;
  padding-bottom: 115px;
}

.partners-hint {
  margin-bottom: 65px;
  font-size: 16px;
  color: #6ba0b2;
  text-align: right;
  font-style: italic;
  .move {
    margin: 2px 0 0 10px;
    width: 24px;
    height: 27px;
    fill: #4f8ad9;
    vertical-align: bottom;
  }
}

.partners-carousel {
  width: 100%;
  overflow: hidden;
  text-align: center;
  .swiper-slide {
    min-height: 50px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  img {
    max-width: 80%;
  }
}
