.search-page {
  height: 100%;
  body {
    height: 100%;
  }
  .btn-white:hover {
    background-color: #a7c343;
  }
}

.search-wrapper {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
}

.header-search {
  height: 110px;
  padding-right: 15px;
  overflow: hidden;
  &::after {
    display: none;
  }
  .logo {
    position: relative;
    z-index: 10;
  }
}

.header-search-right {
  width: 100%;
  padding: 18px 40px 16px 34px;
  max-width: 291px;
  margin-top: 9px;
  text-align: right;
  position: relative;
  z-index: 9;
  float: right;
  .phone-help {
    width: 20px;
    height: 20px;
    margin-right: 11px;
    vertical-align: middle;
    position: relative;
    top: -1px;
  }
}

.searching-offers {
  height: 80px;
  padding: 0 15px;
  background-color: #ffffff;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  @include RobotoRegular;
  .search {
    width: 23px;
    height: 27px;
    margin-right: 20px;
    fill: #505b6a;
  }
}

.search-panel-top {
  height: 80px;
  padding: 0 15px;
  background-color: #ffffff;
  text-align: center;
  font-size: 0;
  @include RobotoRegular;
  li {
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    letter-spacing: -.15px;
    line-height: 1.3;
  }
  .agent {
    width: 22px;
    height: 26px;
    margin-right: 20px;
    fill: #505b6a;
  }
}

li.search-show-map {
  margin: 20px 0 0;
  display: block;
  @include RobotoBold;
  font-size: 15px;
  a {
    text-transform: uppercase;
    border-bottom: 1px solid;
    &:hover {
      border-bottom-color: transparent;
    }
  }
}

.search-panel-bottom {
  width: 100%;
  height: 38px;
  border-top: 3px solid #ffffff;
  background-color: #f2f9fb;
  position: fixed;
  z-index: 55;
  left: 0;
  bottom: 0;
}

.search-left {
  transition: all .3s ease;
}

.search-left-open {
  box-shadow: 8px 0 12px rgba(155, 155, 155, .25);
  z-index: 5;
  .search-left-head-arrow {
    width: 42px;
    .arrow {
      transform: rotate(180deg);
    }
  }

  .insurance-agent:not(:last-of-type) {
    border-bottom: 1px solid #e3e3e3;
  }

  .insurance-agent-list li:before {
    content: counters(item, "") ".";

  }
}

.search-left-closed {
  flex-basis: 70px;
  max-width: 70px;
  .search-left-head-text {
    display: none;
  }
  .search-left-head-arrow {
    width: 100%;
  }

  .insurance-agent {
    padding-bottom: 47px;
  }

  .insurance-agent-location, .insurance-agent-name, .insurance-agent-name + .text-selection, .collapse,
  .insurance-agent-more {
    display: none;
  }
  .insurance-agent-list li:before {
    content: counters(item, "") "";
    top: 60px;
    left: 28px;
  }
  .insurance-agent-face {
    width: 51px;
    height: 51px;
    border: 3px solid #fff;
    margin-left: 9px;
  }
  .mCSB_inside > .mCSB_container {
    margin-right: 10px;
  }
}

.search-left-head {
  height: 80px;
  margin-bottom: 44px;
  background-color: #a7c343;
  color: #ffffff;
  font-size: 18px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  @include RobotoRegular;
}

.search-left-head-arrow {
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background-color: #a7c343;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  .arrow {
    fill: #ffffff;
    width: 20px;
    height: 25px;
  }
}

.search-right {
  background: url(../img/example/ex-map.jpg) no-repeat center;
  background-size: cover;
  text-align: center;
  line-height: 1.2;
  flex-grow: 1;
}

.mCS-light-3.mCSB_scrollTools .mCSB_draggerRail,
.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
  width: 6px;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.2);
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: #6ba0b2;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:hover .mCSB_dragger_bar {
  background-color: #4f8ad9;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_dragger:active .mCSB_dragger_bar,
.mCS-dark-3.mCSB_scrollTools .mCSB_dragger.mCSB_dragger_onDrag .mCSB_dragger_bar {
  background-color: #4f8ad9;
}

.mCS-dark-3.mCSB_scrollTools .mCSB_draggerRail {
  background-color: #c0b7b7;
}

.mCSB_scrollTools {
  opacity: 1;
}

.insurance-agent-list {
  counter-reset: item;
  font-size: 16px;
  line-height: 1.2;
  li:before {
      counter-increment: item;
      font-weight: normal;
      position: absolute;
      @include RobotoBold;
  }
}

.insurance-agent {
  position: relative;
}

.insurance-agent-info {
  margin-bottom: 20px;
  @include clearfix;
  .text-selection {
    margin: 5px 0 21px;
  }
}

.insurance-agent-face {
  float: left;
  background-color: #4f8ad9;
  border-radius: 50%;
  position: relative;
  overflow: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  img {
    position: relative;
    z-index: 5;
  }
  .user {
    width: 23px;
    height: 25px;
    fill: #ffffff;
    position: absolute;
    top: 11px;
    left: 13px;
    z-index: 4;
  }
}

.insurance-agent-name {
  padding-left: 20px;
  margin-top: 2px;
  white-space: nowrap;
  overflow: hidden;
  @include RobotoRegular;
}

.insurance-agent-location {
  font-size: 15px;
  padding-left: 98px;
  position: relative;
  .location {
    width: 21px;
    height: 23px;
    fill: #505b6a;
    position: absolute;
    top: -1px;
    left: 68px;
  }
}

.insurance-agent-desc {
  padding: 15px 20px;
  margin-bottom: 20px;
  font-size: 15px;
  border-radius: 10px;
  background-color: #f2f9fb;
}

.insurance-agent-more {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: normal;
  @include RobotoBold;
  .arrow {
    width: 11px;
    height: 13px;
    margin-left: 4px;
    vertical-align: top;
    fill: #4f8ad9;
    transform: rotate(-90deg);
  }
  .more {
    display: none;
  }
  &.collapsed {
    .arrow {
      transform: rotate(90deg);
    }
    .more {
      display: inline;
    }
    .roll-up {
      display: none;
    }
  }
}

.search-map {
  width: 100%;
  height: 630px;
  position: relative;
}

.agent-point {
  width: 68px;
  height: 68px;
  font-size: 14px;
  position: absolute;
  border-radius: 50%;
  background-color: #4f8ad9;
  box-shadow: inset 0 0 0 7px #fff, 0 0 10px 0 rgba(0, 0, 0, 0.1);
  @include RobotoBold;
  img {
    width: 68px;
    height: 68px;
    border-radius: 50%;
    overflow: hidden;
    border: 7px solid #ffffff;
    position: relative;
    z-index: 5;
  }
  .agent-point-number {
    position: absolute;
    bottom: -13px;
    left: 0;
    z-index: 7;
    text-align: center;
    width: 100%;
  }
  &::after {
    content: '';
    width: 0;
    height: 0;
    border: 14px solid transparent;
    border-bottom-width: 0;
    border-top: 26px solid #ffffff;
    position: absolute;
    bottom: -23px;
    left: 21px;
    z-index: 5;
  }
  .user {
    width: 23px;
    height: 25px;
    fill: #ffffff;
    position: absolute;
    top: 20px;
    left: 22px;
    z-index: 4;
  }
}

.your-location {
  width: 7px;
  height: 7px;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -4px 0 0 -4px;
  background-color: #4f8ad9;
  box-shadow: 0 0 0 7px rgba(79, 138, 217, 0.4), 0 0 0 17px rgba(79, 138, 217, 0.12), 0 0 0 27px rgba(79, 138, 217, 0.07);
}
