header {
  padding-top: 33px;
  position: relative;
  color: #ffffff;
  @include to('l') {
    padding-top: 37px;
  }
  a {
    color: #ffffff;
  }
  &::before {
    width: 100%;
    height: 100%;
    background: url(../img/bg-header.png) no-repeat top center;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
  }
  &::after {
    width: 100%;
    height: 141px;
    background: url(../img/bg-header-line.png) no-repeat top center;
    background-size: cover;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;
  }
  .container {
    position: relative;
    z-index: 7;
  }
}
.header-center {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  clear: both;
  @include from('l') {
    padding-left: 9%;
    padding-right: 9%;
  }
  @include from('xl') {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.header-title {
  font-size: 33px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  @include RobotoBold;
}

.intro-text {
  line-height: 1.2;
  font-size: 18px;
}
