.header-home {
  width: 100%;
  height: 885px;
  background: url(../img/bg-home-header.jpg) no-repeat left top;
  .header-center {
    padding-top: 175px;
    @include to('l') {
      padding-top: 180px;
    }
  }
  .header-title {
    margin-bottom: 25px;
  }
  .intro-text {
    margin-bottom: 105px;
  }
}
