.header-home {
  width: 100%;
  @include from('s') {
    height: 885px;
    background: url(../img/bg-home-header.jpg) no-repeat 0 40%;
    background-size: cover;
  }
  @include to('xs') {
    height: 640px;
    background: url(../img/bg-home-header.jpg) no-repeat 34% 3%;
    background-size: 250%;
  }
  .header-center {
    padding-top: 175px;
    @include to('l') {
      padding-top: 180px;
    }
    @include to('xs') {
      padding-top: 74px;
    }
  }
  .header-title {
    margin-bottom: 25px;
    @include to('s') {
      font-size: 7vw;
    }
    @include to('xs') {
      margin-bottom: 9px;
    }
  }
  .intro-text {
    margin-bottom: 105px;
    @include to('xs') {
      margin-bottom: 39px;
    }
  }

  @include to('s') {
    .logo {
      width: 230px;
    }
    .logo-wrap img {
      width: 62px;
    }
    .logo-caption {
      font-size: 22px;
    }
    .logo-text {
      font-size: 10px;
      display: block;
      top: 5px;
    }
  }
}
