header {
  padding-top: 30px;
  position: relative;
  color: #ffffff;
  @include at('l') {
    padding-top: 37px;
  }
  a {
    color: #ffffff;
  }
  &::before {
    width: 100%;
    height: 100%;
    background: url(../img/bg-header.png) no-repeat 0 0;
    opacity: .9;
    background-size: cover;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    @include to('s') {
      background-position: 32% 0;
    }
  }
  &::after {
    width: 100%;
    height: 141px;
    background: url(../img/bg-header-line.png) no-repeat top center;
    background-size: cover;
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 6;

    @media only screen and (-webkit-min-device-pixel-ratio: 1.5),
    only screen and (min-resolution: 144dpi),
    only screen and (min--moz-device-pixel-ratio: 1.5) {
      background: url(../img/bg-header-line@x2.png) no-repeat top center;
    }
  }
  .container {
    position: relative;
    z-index: 7;
  }

  @include to('s') {
    .logo {
      width: 230px;
    }
    .logo-wrap img {
      width: 62px;
    }
    .logo-caption {
      font-size: 22px;
    }
    .logo-text {
      font-size: 10px;
      display: block;
      top: 5px;
    }
  }

  .header-title {
    margin-bottom: 25px;
    @include to('s') {
      font-size: 6.8vw;
    }
    @include to('xs') {
      margin-bottom: 9px;
    }
  }
  .intro-text {
    margin-bottom: 105px;
    @include to('xs') {
      margin-bottom: 39px;
    }
  }
}

.header-center {
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  clear: both;
  @include from('l') {
    padding-left: 9%;
    padding-right: 9%;
  }

  @include from('xl') {
    padding-left: 15%;
    padding-right: 15%;
  }
}

.header-title {
  font-size: 33px;
  line-height: 1.2;
  font-weight: normal;
  text-transform: uppercase;
  @include RobotoBold;
}

.intro-text {
  line-height: 1.2;
  font-size: 18px;
}
