.insurance-type {
  margin-bottom: 15px;
  list-style: none;
  display: flex;
  align-items: center;
  .current {
    border-bottom-color: #fff;
  }
}

.insurance-type-label {
  margin-right: 25px;
  font-size: 16px;
}

.insurance-type-point {
  padding-bottom: 2px;
  text-transform: uppercase;
  font-size: 18px;
  border-bottom: 1px solid transparent;
  @include RobotoBold;
  &:not(:last-of-type) {
    margin-right: 30px;
  }
  &:not(.current) {
    color: #dfdfdf;
    cursor: pointer;
    &:hover {
      color: #ffffff;
    }
  }
}

.insurance-search {
  width: 100%;
  max-width: 808px;
  height: 65px;
  border-radius: 33px;
  background-color: #ffffff;
  box-shadow: 0 8px 12px rgba(#000000, .15);
  @include clearfix;
  .btn-blue {
    width: 165px;
    height: 65px;
    padding-top: 25px;
    margin-right: -5px;
    float: right;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 0 33px 33px 0;
    position: relative;
    z-index: 12;
    @include RobotoBold;
  }
}

.insurance-input-area {
  width: calc(100% - 160px);
  float: left;
  position: relative;
  z-index: 15;
}

.insurance-input {
  width: 100%;
  height: 65px;
  padding: 0 41px;
  background-color: transparent;
  border-radius: 33px 0 0 33px;
  position: relative;
  z-index: 10;
  color: #505b6a;
  font-size: 16px;
  font-weight: normal;
  border: 2px solid transparent;
  border-right: 0;
  @include RobotoLight;
  + .arrow {
    width: 17px;
    height: 12px;
    transform: rotate(90deg);
    fill: #c0b7b7;
    position: absolute;
    top: 28px;
    right: 43px;
    z-index: 18;
  }
}

.insurance-search-open {
  .insurance-input {
    background-color: #f2f9fb;
    border-color: #ffffff;
    box-shadow: 0 8px 12px 0 rgba(0, 0, 0, 0.15);
    + .arrow {
      fill: #4f8ad9;
    }
  }
}

.insurance-drobdown {
  padding-left: 40px;
  .insurance-drobdown-scroll {
    height: 230px;
    padding: 35px 25px 30px 0;
    background-color: #ffffff;
    border-radius: 0 0 30px 30px;
    border: 1px solid #ededed;
    border-top: 0;
  }
}

.insurance-list {
  display: flex;
  flex-wrap: wrap;
  .arrow {
    width: 10px;
    height: 10px;
    fill: #505b6a;
  }
  li {
    top: -30px;
    padding-top: 30px;
    position: relative;
    padding-left: 33px;
    flex-basis: 50%;
    max-width: 50%;
    text-align: left;
    color: #505b6a;
    cursor: pointer;

    @include RobotoRegular;
    &:hover {
      color: #4f8ad9;
      .arrow {
        fill: #4f8ad9;
      }
    }
  }
}

.brand, .model, .year {
  float: left;
  position: relative;
  .selected {
    width: 15px;
    height: 12px;
    position: absolute;
    top: 50%;
    margin-top: -6px;
    fill: #a7c343;
  }
  .arrow {
    width: 17px;
    height: 12px;
    transform: rotate(90deg);
    fill: #c0b7b7;
    position: absolute;
    top: 50%;
    right: 23px;
    margin-top: -6px;
    z-index: 18;
  }
}

.model, .year {
  .insurance-input {
    padding-left: 45px;
  }
  .selected {
    left: 22px;
  }
}

.brand {
  width: 36.5%;
  border-right: 1px solid #ededed;
  .insurance-input {
    padding-left: 59px;
  }
  .selected {
    left: 37px;
  }
}

.model {
  width: 35%;
  border-right: 1px solid #ededed;
}

.year {
  width: 26.5%;
}
